# Customer Analysis BiPi

## Instrucciones/preguntas:

Dado el dataset que se adjunta, contestar las siguientes preguntas:

- ¿Qué método de pandas utilizarías para cargar la información en un dataframe?

- ¿Qué alternativa a pandas podrías utilizar?

- ¿Qué procedimientos harías para hacer una limpieza de los datos?

Escribe un script en Python apoyado en pandas y en cualquier librería de graficación que conozcas que en tiempo de ejecución realice lo siguiente:

Nota: El script tiene que funcionar sin tener el dataset en local. Es decir, debes subir el dataset a algún sitio (git, drive...) y ponerlo en modo público.


1. Calcular el número y porcentaje sobre el total absoluto de Mujeres monoparentales que han gastado más de 15.000 dólares.

2. Calcular cuántos abogados (M/F) hay en el dataset que tengan mayor experiencia laboral que la media de ingenieros hombres.

3. Dibuja la distribución de abogados en función de su gasto anual (utiliza franjas de gasto) y de su sexo.

4. Añade algún análisis que creas que puede ser interesante explicando por pantalla el resultado del mismo

## Importación de librerías

In [1]:
import pandas as pd

## Carga de los datos

In [2]:
# Leer dataset desde github y almacenarlo en un dataframe de pandas

dataset_url = "https://raw.githubusercontent.com/kimnegrette3/Python-SQL-Customer-Analysis/main/customers.csv"
customers = pd.read_csv(dataset_url)
customers.head()

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6